<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>首页</h1>

<!--    RequestMapping标识一个类：设置映射请求的请求路径的初始信息-->
<!--    RequestMapping标识一个方法：设置映射请求请求路径的具体信息-->
<!--    如果类上有且方法也有，首先映射初始信息，然后映射具体信息-->
    <a th:href="@{/hello/testRequestMapping}">测试RequestMapping注释的位置</a></body></br>
    <a th:href="@{/testRequestMapping}">测试RequestMapping注释的value属性-->/testRequestMapping</a></body></br>
    <a th:href="@{/test}">测试RequestMapping注释的value属性-->/test</a></body></br>
    <a th:href="@{/test}">测试RequestMapping注释的method属性-->/test</a></body></br>
    <form th:action="@{/test}" method="post">
        <input type="submit" value="测试RequestMapping注释的method属性">
    </form>
<a th:href="@{/testParamsAndHeaders(username='admin',password=123456)}">测试RequestMapping注解的params属性--></a>
<a TH:href="@{/aja/testAnt}">测试@RequestMapping可以匹配ant风格的路径</a>
<a TH:href="@{/testPath/1}">测试@RequestMapping可以支持路径中的占位符-->/testPath</a>

</body>
</html>